

@keyframes ring {
    0% {
        transform: rotate(0) translateX(0);
    }
    25% {
        transform: rotate(-20deg) translateX(0.2em);
    }
    50% {
        transform: rotate(20deg) translateX(-0.2em);
    }
    75% {
        transform: rotate(-10deg) translateX(0.1em);
    }
    100% {
        transform: rotate(10deg) translateX(-0.1em);
    }
}

@keyframes ripple {
    0% {
        width: 90px;
        height: 90px;
        opacity: 1;
    }

    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

@keyframes ripple-1 {
    0% {
        width: 90px;
        height: 90px;
        opacity: 1;
    }

    100% {
        width: 170px;
        height: 170px;
        opacity: 0;
    }
}
@keyframes rotate360 {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes effect-arrow {
    0% , 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }

}
  @keyframes preload {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
  }
  @keyframes spin {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 2px 0 #f44860;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 0 2px 0 #f44860;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 0 2px 0 #f44860;
    }
}
  