// settings
$font-main: "DM Sans", sans-serif;
$font-main2: "Caprasimo", sans-serif;
$fontIcon: "icomoon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --Body-text: #687f94;
    --Primary-color: #19236d;
    --Secondary-color: #f44860;
    --Border: rgba(255, 255, 255, 0.1);
    --Text-1: #bfd3e5;
    --Text-2: #8798a8;
    --Text-3: #687f94;
    --Border: #e8e9f0;
    --color-1: #f5ab24;
    --color-2: #0d1c87;
    --color-3: #d32b42;
    --color-4: #d38f13;
    --Bg-main: #fef9ec;
    --Bg-main-2: #19236d;
    --Bg-1: #d8f4d3;
    --Bg-2: #bbe2f2;
    --Bg-3: #fad0d6;
    --Bg-4: #faeebf;
    --Bg-5: #e3dafb;
    --Bg-6: #f7dcb9;
    --Bg-7: #f8f6ee;
}
